<?xml version="1.0"?>
<!--
/**
 * routes.xml
 *
 * @category  Slavik\Blog\etc\adminhtml;
 * @package   Slavik\Blog
 * @author    Stanislav Lelyuk <lelyuk.stanislav@gmail.com
 * @copyright 2019 Stanislav Lelyuk
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="slavik_blog" frontName="slavik_blog">
            <module name="Slavik_Blog"/>
        </route>
    </router>
</config>